/*Apply border-box to all elements*/
*, *:after, *:before {
  box-sizing: border-box;
}
body {
  background-color: #fff;
}

a {
  text-decoration: none; 
}

/*
 *****************************************
 * Section Header =nav
 *****************************************
*/

/*Both Nav bar rules*/

.logo {
  height: 80px;
  width: 132px;
  background: linear-gradient(-45deg, #ce0393 0%, #f46629 100%);
  float: left;
}

.logo img {
  margin: auto;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 9999;
  margin-top: 0;
}

nav ul {
  overflow: hidden;
}

nav li {
  display: inline;
}

nav li:hover {
  cursor: pointer; 
  cursor: hand;
}

.li-right {float: right}

/*top-nav rules*/

#top-nav {
  height: 30px;
  background-color: #000;
}

#top-nav li {
  vertical-align: -7px;
  margin: 7px 0 0 10px;
  color: rgba(255, 255, 255, 0.6);
  font: 800 12px 'Arimo', sans-serif;
}

#top-nav li:first-child {color: #fff}

#top-nav li:nth-child(8) {margin-right: 10px;}

#top-nav li:hover {color: #fff}

/*bottom-nav rules*/

#bottom-nav {
  height: 50px;
  /*temp 51.. move to 50 and remove border bottom*/
  /*border-bottom: 1px solid black;*/
  background-color: #fff;
}

#bottom-nav li {
  vertical-align: -19px;
  margin: 7px 0 0 10px;
  color: #aeabaa;
  font: 800 16px 'Ropa Sans', sans-serif;
  text-transform: uppercase;
}

#bottom-nav .li-right {
  margin: 0;
}

#bottom-nav li:hover {color: #000}

.search {
  display: flex;
  height: 50px;
  width: 51px;
  margin: 0;
  border-left: 1px solid #eee;
}

.search div {
  background: url('../images/icons-sprite.svg') no-repeat -752px -752px;
  width: 16px;
  height: 16px;
  margin: auto;
}

.search:hover div {background: url('../images/icons-sprite.svg') no-repeat -768px -768px}

#menu-dots {
  display: flex;
  height: 50px;
  width: 30px;
  margin: 0 10px 0 0;
}

#menu-dots div {
  background: url('../images/icons-sprite.svg') no-repeat -512px -518px;
  width: 16px;
  height: 4px;
  margin: auto;
}

#menu-dots:hover div {background: url('../images/icons-sprite.svg') no-repeat -528px -534px}

#email {
  display: flex;
  height: 50px;
  width: 30px;
  margin: 0;
}

#email div {
  background: url('../images/icons-sprite.svg') no-repeat -464px -466px;
  width: 16px;
  height: 12px;
  margin: auto;
}

#email:hover div {background: url('../images/icons-sprite.svg') no-repeat -480px -482px;}

#drop-menu {
  display: flex;
  height: 50px;
  width: 50px;
  margin: 0;
  border-left: 1px solid #eee;
}

#drop-menu div {
  background: url('../images/icon-menu.svg') no-repeat 0 0;
  fill: red;
  width: 18px;
  height: 12px;
  margin: auto;
}

/*
 *****************************************
 * Section Header =cover-page
 *****************************************
*/

.main {padding-top: 80px}

.cover-page {
  padding: 4px;
  background: linear-gradient(top, #eeeeee 0%,#ffffff 100%,#207cca 100%);
}

/*Clearfix for smallest mediaquery*/
.cover-page:after {
  clear: both;
  display: block;
  content: ' ';
  visibility: hidden;
  height: 1%;
}

.main-article {
  position: relative;
  float: left;
  padding: 4px;
  background-color: inherit;
}

.main-article article {
  height: 100%;
}

.main-article.one article, .alcoholizer {
  background: url('../images/watch.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
}

.main-article.two article, .airbar {
  background: url('../images/AirBar-Mac.png') no-repeat;
  background-size: cover;
  background-position: center;
}

.main-article.three article {
  background: url('../images/Huawei.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
}

.cover-trigger {
  background: url('../images/image-gradient.png') no-repeat rgba(0,0,0,.25);
  background-size: 100% 100%;
  display: block;
  height: 100%;
  z-index: 99;
}

/*
 *****************************************
 * Section Header =spacer
 *****************************************
*/

.news-wrapper, .quote, .trending-wrapper {
  max-width: 1192px;
  margin: auto;
}

.news-wrapper, .quote {
  padding: 0 20px;
}

.spacer div {
  background-color: #eee;
  margin: 30px auto;
}

/*
 *****************************************
 * Section Header =latest-news
 *****************************************
*/
.latest {margin-bottom: 56px}

.news-wrapper h2 a {
  color: #f42;
  font: 700 22px sans-serif;
}

.latest h2 a:hover {
  color: #000;
}

.latest-list, .category-list{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.latest-story {
  display: flex;
}

.story-image {
  display: block;
  flex-shrink: 0
}

.bluetooth {
  background: url('../images/bluetooth.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
}

.opcom {
  background: url('../images/opcom.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
}

.drone {
  background: url('../images/drone.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
}

.watch {
  background: url('../images/watch.png') no-repeat;
  background-size: cover;
  background-position: center;
}

.windows {
  background: url('../images/windows.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
}

.apple {
  background: url('../images/apple.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
}

.google {
  background: url('../images/google.png') no-repeat;
  background-size: cover;
  background-position: center;
}

.robot {
  background: url('../images/robot.png') no-repeat;
  background-size: cover;
  background-position: center;
}

.story-title a, .category-title a {
  display: block;
  font: 700 15px sans-serif;
  line-height: 20px;
  color: #000;
  margin-bottom: 5px;
}

.story-title a:hover, .category-title a:hover {
  text-decoration: underline;
  color: #f42;
}

.story-by-line > li, .story-by-line a {
  display: inline;
  font: 13px Arial,sans-serif;
  color: #aaa;
}

.story-by-line a:hover {
  color: #555;
}

.story-by-line li:first-child:after {
  content: '\b7';
  margin: 0 4px;
 }

 /*
  *****************************************
  * Section Header =categories
  *****************************************
 */

/*.categories {
  background-color: pink;
  height: 200px;
}*/

/*category-list is diplay:flex above*/

.category-list > li {
  flex-wrap: wrap; 
  /*background-color: yellow;*/
}

.category-title {
  margin-bottom: 14px;
  /*other styles applied in .story-title a*/
}

.category-image {
  display: block;
}

.top-story {position: relative}

.top-story > header {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 14px;
  color: #fff;
}

.white > a:hover {color: #fff}

.top-story h5 {
  font: 14px 'Quantico', sans-serif;
}

.sub-heading {padding: 2px 0}

.sub-heading a {
  font: 700 20px "Helvetica Neue",Arial,sans-serif;
  line-height: 18px;
  padding-bottom: 4px;
  color: #fff;
}

.sub-heading a:hover {text-decoration: underline}

.special {
  background-color: #fff4f2;
  margin-top: 2px;
}

/*Clearfix .special to contain .special-image float */
.special:after {
  clear: both;
  display: block;
  content: ' ';
  visibility: hidden;
  height: 1%;
}

.special-image {
  display: block;
/*  background-color: blue;*/
  height: 96px;
  width:96px;
  float: right;
}

.special > header {
  width: calc(100% - 96px);
  padding: 10px 14px 0 14px;
}

.special h5 {
  font: 13px 'Quantico', sans-serif;
  color: #f42;
  text-transform: uppercase;
}

.special h4 > a {
  font: 700 14px Arial,sans-serif;
  color: #f42;
}

.special h4 > a:hover {text-decoration: underline}

.small-story h4 {position:relative}

.small-story a:before {
  background-color: #F42;
  border-radius: 50%;
  content: '';
  display: block;
  height: 4px;
  left: 0;
  position: absolute;
  top: 13px;
  width: 4px;
}

.small-story {
  border-bottom: 1px solid #eee;
}

.small-story a {
  padding: 6px 0 6px 14px;
  display: inline-block;
  color: #555;
  font: 14px Arial,sans-serif;
}

.small-story a:hover {
  color: #000;
}

.sirius {
  background: url('../images/sirius.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
}

.developers {
  background: url('../images/developers.gif') no-repeat;
  background-size: cover;
  background-position: center;
}

.technology {
  background: url('../images/technology.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
}

.snapchat {
  background: url('../images/snapchat.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
}

.bitcoin {
  background: url('../images/bitcoin.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
}

.dna {
  background: url('../images/dna.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
}

.ff {
  background: url('../images/ff.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
}

.france {
  background: url('../images/france.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
}

.donald {
  background: url('../images/donald.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
}

.home-alone {
  background: url('../images/home-alone.png') no-repeat;
  background-size: cover;
  background-position: center;
}

/*
 *****************************************
 * Section Header =footer
 *****************************************
*/

.quote-wrapper {background-color: #f6f6f6}

.quote {
  background-color: #f6f6f6;
  padding: 42px 0;
  margin-top: 25px;
  text-align: center;
}

.quote > span {
  color: #555;
  font: 15px 'Quantico', sans-serif;
}

.quote > p {
  color: #f42;
  font: 900 58px Arial, sans-serif;
  margin-bottom: 28px;
}

.quote > p:before, .quote >p:after {content: '"'}

footer {
  background-color: black;
}

.trending {
  background-color: #131313;
  padding: 35px 0;
}

.trending-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.trending-item {
  flex: 0 0 50%;
  /*background-color: pink;*/
}

.trending-item >h3 {
  font: 400 17px 'Quantico', sans-serif;
  color: #aaa;
  margin-bottom: 18px;
  text-transform: uppercase;
}

.trending-list a, .trending-list span {
  font: 16px Arial,sans-serif;
  color: #fff;
  line-height: 22px;
}

.trending-list span {
  color: #555;
  margin-left: 5px;
}

/*
 *****************************************
 * Section Header =MediaQuery-Reporter Styles
 *****************************************
 *****************************************
 * Section Header =MediaQuery-Reporter Styles
 *****************************************
 *****************************************
 * Section Header =MediaQuery-Reporter Styles
 *****************************************
*/

 
body:after {
  content: "less than 320px";
  font-size: 300%;
  font-weight: bold;
  position: fixed;
  bottom: 60px;
  width: 100%;
  text-align: center;
  background-color: hsla(1,60%,40%,0.7);
  color: #fff;
}

@media only screen and (min-width: 320px) {
  body:after {
    content: "320 to 480px";
    background-color: hsla(90,60%,40%,0.7);
  }

  /*
   *****************************************
   * Section Header =nav
   * MediaQuery "320 to 480px"
   *****************************************
  */

   #top-nav, #bottom-nav {display: none}
   #mobile-bar {
    display: block;
    height: 50px;
  }

  #mobile-bar {background-color: #fff}

  .logo {
    display: flex;
    height: 50px;
  }

  /*
   *****************************************
   * Section Header =cover-page
   * MediaQuery "320 to 480px"
   *****************************************
  */

  .main-article {
    min-height: 30vh;
    width: 100%;
  }

  article, .cover-trigger {
    min-height: 30vh;
  }

    /*
   *****************************************
   * Section Header =spacer
   * MediaQuery "320 to 480px"
   *****************************************
  */
  
  .spacer {
    padding: 0 25px;
  }

  .spacer div{
    height: 50px;
    width: 100%;
  }

  /*
   *****************************************
   * Section Header =latest-news
   * MediaQuery "320 to 480px"
   *****************************************
  */

  .latest-list, .category-list {
    width: calc(100% + 16px);
    left: -8px;
  }

  .latest-list > li, .category-list > li {
    padding: 8px;
    flex-basis: 100%;
    flex-direction: column;
  }

  .latest-list > li {
    flex-direction: column;
  }

  .latest-story {
    flex-direction: row;
  }

  .story-image {
    width: 72px;
  }

  .news-text-container {
    margin: 0 0 0 20px;
  }


  /*
   *****************************************
   * Section Header =categories
   * MediaQuery "320 to 480px"
   *****************************************
  */


    /*
   *****************************************
   * Section Header =footer
   * MediaQuery "320 to 480px"
   *****************************************
  */

  .quote > p {font-size: 40px}
  
  .trending-item {flex: 0 0 50%}

}

/*
 ********************************************
*/

@media only screen and (min-width: 480px) {
  body:after {
    content: "480 to 768px";
    background-color: hsla(180,60%,40%,0.7);
  }
}

/*
 ********************************************
*/

@media only screen and (min-width: 768px) {
  body:after {
    content: "768 to 1024px";
    background-color: hsla(270,60%,40%,0.7);
  }

  /*
   *****************************************
   * Section Header =nav
   * MediaQuery "768 to 1024px"
   *****************************************
  */

  #mobile-bar {display: none}
  #top-nav, #bottom-nav {display: block}
  .logo {
    display: flex;
    height: 80px;
  }

  /*
   *****************************************
   * Section Header =cover-page
   * MediaQuery "768 to 1024px"
   *****************************************
  */

  .cover-page {
    height: 60vh;
  }

  .main-article {
    min-height: 0;
    width: 33.33%;
    height: 50%;
  }

  .one {
    width: 66.66%;
    height: 100%;
  }

  article, .cover-trigger { 
    min-height: 100%;
  }

  /*
   *****************************************
   * Section Header =spacer
   * MediaQuery "768 to 1024px"
   *****************************************
  */

  .spacer {
    padding: 0;
  }
  
  .spacer div {
    height: 50px;
    width: 728px;
    /*margin: 30px auto;*/
  }

  /*
   *****************************************
   * Section Header =latest-news
   * MediaQuery "768 to 1024px"
   *****************************************
  */

  .latest-list, .category-list {
    width: calc(100% + 24px);
    left: -12px;
  }

  .latest-list > li, .category-list > li {
    padding: 12px;
  }

  .latest-list > li {
    flex-basis: 33.33%;
    flex-direction: row;
  }

  .latest-story {
    flex-direction: column;
  }

  .story-image {
    width: 100%;
  }

  .news-text-container {
    margin: 10px 0 0 0;
  }

  /*
   *****************************************
   * Section Header =categories
   * MediaQuery "768 to 1024px"
   *****************************************
  */

  .category-list > li {
    flex: 0 0 50%;
  }

  /*
   *****************************************
   * Section Header =footer
   * MediaQuery "768 to 1024px"
   *****************************************
  */

  .quote > p {font-size: 48px}

  .trending-item {flex: 0 0 33.33%}

}

/*
 ********************************************
*/

@media only screen and (min-width: 1024px) {
  body:after {
    content: "1024 and up";
    background-color: hsla(360,60%,40%,0.7);
  }

  /*
   *****************************************
   * Section Header =nav
   * MediaQuery "1024 and up"
   *****************************************
  */

  #top-nav {display: block}
  .logo {display: none}
  
  /*
   *****************************************
   * Section Header =cover-page
   * MediaQuery "1024 and up"
   *****************************************
  */

   .cover-page {
      height: 75vh;
      max-height: 560px;
  }

  /*
   *****************************************
   * Section Header =spacer
   * MediaQuery "1024 and up"
   *****************************************
  */

  .spacer div {height: 90px;}

  /*
   *****************************************
   * Section Header =spacer
   * MediaQuery "1024 and up"
   *****************************************
  */

  .latest-list > li {
    flex-basis: 25%
  }

  /*
   *****************************************
   * Section Header =categories
   * MediaQuery "1024 and up"
   *****************************************
  */

  .category-list > li {
    flex: 0 0 33.33%;
  }

    /*
   *****************************************
   * Section Header =footer
   * MediaQuery "1024px and up"
   *****************************************
  */

  .quote > p {font-size: 58px}

}

