/*Apply border-box to all elements*/
*, *:after, *:before {
  box-sizing: border-box;
}

/*
 *****************************************
 * Section Header =nav
 *****************************************
*/

/*Both Nav bar rules*/

.logo {
  height: 80px;
  width: 132px;
  background: -moz-linear-gradient(-45deg, #ce0393 0%, #f46629 100%);
  float: left;
}

.logo img {
  margin: auto;
}

nav ul {
  overflow: hidden;
}

nav li {
  display: inline;
}

nav li:hover {
  cursor: pointer; 
  cursor: hand;
}

.li-right {float: right}

/*top-nav rules*/

#top-nav {
  height: 30px;
  background-color: #000;
}

#top-nav li {
  vertical-align: -7px;
  margin: 7px 0 0 10px;
  color: rgba(255, 255, 255, 0.6);
  font: 800 12px 'Arimo', sans-serif;
}

#top-nav li:first-child {color: #fff}

#top-nav li:nth-child(7) {margin-right: 10px;}

#top-nav li:hover {color: #fff}

/*bottom-nav rules*/

#bottom-nav {
  height: 51px;
  /*temp 51.. move to 50 and remove border bottom*/
  border-bottom: 1px solid black;
  background-color: #fff;
}

#bottom-nav li {
  vertical-align: -19px;
  margin: 7px 0 0 10px;
  color: #aeabaa;
  font: 800 16px 'Ropa Sans', sans-serif;
  text-transform: uppercase;
}

#bottom-nav .li-right {
  margin: 0;
}

#bottom-nav li:hover {color: #000}

.search {
  display: flex;
  height: 50px;
  width: 51px;
  margin: 0;
  border-left: 1px solid #eee;
}

.search div {
  background: url('../images/icons-sprite.svg') no-repeat -752px -752px;
  width: 16px;
  height: 16px;
  margin: auto;
}

.search:hover div {background: url('../images/icons-sprite.svg') no-repeat -768px -768px}

#menu-dots {
  display: flex;
  height: 50px;
  width: 30px;
  margin: 0 10px 0 0;
}

#menu-dots div {
  background: url('../images/icons-sprite.svg') no-repeat -512px -518px;
  width: 16px;
  height: 4px;
  margin: auto;
}

#menu-dots:hover div {background: url('../images/icons-sprite.svg') no-repeat -528px -534px}

#email {
  display: flex;
  height: 50px;
  width: 30px;
  margin: 0;
}

#email div {
  background: url('../images/icons-sprite.svg') no-repeat -464px -466px;
  width: 16px;
  height: 12px;
  margin: auto;
}

#email:hover div {background: url('../images/icons-sprite.svg') no-repeat -480px -482px;}

#drop-menu {
  display: flex;
  height: 50px;
  width: 50px;
  margin: 0;
  border-left: 1px solid #eee;
}

#drop-menu div {
  background: url('../images/icon-menu.svg') no-repeat 0 0;
  fill: red;
  width: 18px;
  height: 12px;
  margin: auto;
}

/*
 *****************************************
 * Section Header =MediaQuery-Reporter Styles
 *****************************************
*/
 
body:after {
  content: "less than 320px";
  font-size: 300%;
  font-weight: bold;
  position: fixed;
  bottom: 60px;
  width: 100%;
  text-align: center;
  background-color: hsla(1,60%,40%,0.7);
  color: #fff;
}

@media only screen and (min-width: 320px) {
  body:after {
    content: "320 to 480px";
    background-color: hsla(90,60%,40%,0.7);
  }
   #top-nav, #bottom-nav {display: none}
   #mobile-bar {
    display: block;
    height: 50px;
  }
  .logo {
    display: flex;
    height: 50px;
  }
}

@media only screen and (min-width: 480px) {
  body:after {
    content: "480 to 768px";
    background-color: hsla(180,60%,40%,0.7);
  }
}

@media only screen and (min-width: 768px) {
  body:after {
    content: "768 to 1024px";
    background-color: hsla(270,60%,40%,0.7);
  }
  #mobile-bar {display: none}
  #top-nav, #bottom-nav {display: block}
  .logo {
    display: flex;
    height: 80px;
  }
}

@media only screen and (min-width: 1024px) {
  body:after {
    content: "1024 and up";
    background-color: hsla(360,60%,40%,0.7);
  }
  #top-nav {display: block}
  .logo {display: none}
}