/*Apply border-box to all elements*/
*, *:after, *:before {
  box-sizing: border-box;
}
body {
  background-color: 
}

a {
  text-decoration: none; 
}

/*
 *****************************************
 * Section Header =nav
 *****************************************
*/

/*Both Nav bar rules*/

.logo {
  height: 80px;
  width: 132px;
  background: linear-gradient(-45deg, #ce0393 0%, #f46629 100%);
  float: left;
}

.logo img {
  margin: auto;
}

nav ul {
  overflow: hidden;
}

nav li {
  display: inline;
}

nav li:hover {
  cursor: pointer; 
  cursor: hand;
}

.li-right {float: right}

/*top-nav rules*/

#top-nav {
  height: 30px;
  background-color: #000;
}

#top-nav li {
  vertical-align: -7px;
  margin: 7px 0 0 10px;
  color: rgba(255, 255, 255, 0.6);
  font: 800 12px 'Arimo', sans-serif;
}

#top-nav li:first-child {color: #fff}

#top-nav li:nth-child(8) {margin-right: 10px;}

#top-nav li:hover {color: #fff}

/*bottom-nav rules*/

#bottom-nav {
  height: 50px;
  /*temp 51.. move to 50 and remove border bottom*/
  /*border-bottom: 1px solid black;*/
  background-color: #fff;
}

#bottom-nav li {
  vertical-align: -19px;
  margin: 7px 0 0 10px;
  color: #aeabaa;
  font: 800 16px 'Ropa Sans', sans-serif;
  text-transform: uppercase;
}

#bottom-nav .li-right {
  margin: 0;
}

#bottom-nav li:hover {color: #000}

.search {
  display: flex;
  height: 50px;
  width: 51px;
  margin: 0;
  border-left: 1px solid #eee;
}

.search div {
  background: url('../images/icons-sprite.svg') no-repeat -752px -752px;
  width: 16px;
  height: 16px;
  margin: auto;
}

.search:hover div {background: url('../images/icons-sprite.svg') no-repeat -768px -768px}

#menu-dots {
  display: flex;
  height: 50px;
  width: 30px;
  margin: 0 10px 0 0;
}

#menu-dots div {
  background: url('../images/icons-sprite.svg') no-repeat -512px -518px;
  width: 16px;
  height: 4px;
  margin: auto;
}

#menu-dots:hover div {background: url('../images/icons-sprite.svg') no-repeat -528px -534px}

#email {
  display: flex;
  height: 50px;
  width: 30px;
  margin: 0;
}

#email div {
  background: url('../images/icons-sprite.svg') no-repeat -464px -466px;
  width: 16px;
  height: 12px;
  margin: auto;
}

#email:hover div {background: url('../images/icons-sprite.svg') no-repeat -480px -482px;}

#drop-menu {
  display: flex;
  height: 50px;
  width: 50px;
  margin: 0;
  border-left: 1px solid #eee;
}

#drop-menu div {
  background: url('../images/icon-menu.svg') no-repeat 0 0;
  fill: red;
  width: 18px;
  height: 12px;
  margin: auto;
}

/*
 *****************************************
 * Section Header =cover-page
 *****************************************
*/


.cover-page {
  padding: 4px;
  background: linear-gradient(top, #eeeeee 0%,#ffffff 100%,#207cca 100%);
}

/*Clearfix for smallest mediaquery*/
.cover-page:after {
  clear: both;
  display: block;
  content: ' ';
  visibility: hidden;
  height: 1%;
}

.main-article {
  position: relative;
  float: left;
  padding: 4px;
  background-color: inherit;
}

.main-article article {
  height: 100%;
}

.main-article.one article {
  background: url('../images/watch.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
}

.main-article.two article {
  background: url('../images/AirBar-Mac.png') no-repeat;
  background-size: cover;
  background-position: center;
}

.main-article.three article {
  background: url('../images/Huawei.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
}

.cover-trigger {
  background: url('../images/image-gradient.png') no-repeat rgba(0,0,0,.25);
  background-size: 100% 100%;
  display: block;
  height: 100%;
  z-index: 99;
}

/*
 *****************************************
 * Section Header =spacer
 *****************************************
*/

.news-wrapper {
  padding: 0 20px;
  max-width: 1192px;
  height: 500px;
/*  background-color: pink;*/
  margin: auto;
}

.spacer div {
  background-color: #eee;
  margin: 30px auto;
}

/*
 *****************************************
 * Section Header =latest-news
 *****************************************
*/

.news-wrapper h2 a {
  color: #f42;
  font: 700 22px sans-serif;
}

.latest h2 a:hover {
  color: #000;
}

.latest-list {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.latest-story {
  display: flex;
}

.story-image {
  display: block;
  width: 100%;
  height: 10vw;
  flex-shrink: 0
}

.bluetooth {
  background: url('../images/bluetooth.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
}

.opcom {
  background: url('../images/opcom.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
}

.drone {
  background: url('../images/drone.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
}

.watch {
  background: url('../images/watch.png') no-repeat;
  background-size: cover;
  background-position: center;
}

.windows {
  background: url('../images/windows.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
}

.apple {
  background: url('../images/apple.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
}

.google {
  background: url('../images/google.png') no-repeat;
  background-size: cover;
  background-position: center;
}

.robot {
  background: url('../images/robot.png') no-repeat;
  background-size: cover;
  background-position: center;
}

.story-title a {
  font: 700 15px sans-serif;
  line-height: 20px;
  color: #000;
  display: block;
}

.story-title a:hover {
  box-shadow: inset 0 -1px 0 rgba(255,68,34,.25);
  color: #f42;
}

.story-by-line li {
  display: inline;
}

.story-by-line li:after {
  content: '\b7';
  margin: 0 4px;
 }



/*
 *****************************************
 * Section Header =MediaQuery-Reporter Styles
 *****************************************
 *****************************************
 * Section Header =MediaQuery-Reporter Styles
 *****************************************
 *****************************************
 * Section Header =MediaQuery-Reporter Styles
 *****************************************
*/

 
body:after {
  content: "less than 320px";
  font-size: 300%;
  font-weight: bold;
  position: fixed;
  bottom: 60px;
  width: 100%;
  text-align: center;
  background-color: hsla(1,60%,40%,0.7);
  color: #fff;
}

@media only screen and (min-width: 320px) {
  body:after {
    content: "320 to 480px";
    background-color: hsla(90,60%,40%,0.7);
  }

  /*
   *****************************************
   * Section Header =nav
   * MediaQuery "320 to 480px"
   *****************************************
  */

   #top-nav, #bottom-nav {display: none}
   #mobile-bar {
    display: block;
    height: 50px;
  }
  .logo {
    display: flex;
    height: 50px;
  }

  /*
   *****************************************
   * Section Header =cover-page
   * MediaQuery "320 to 480px"
   *****************************************
  */

  .main-article {
    min-height: 30vh;
    width: 100%;
  }

  article, .cover-trigger {
    min-height: 30vh;
  }

    /*
   *****************************************
   * Section Header =spacer
   * MediaQuery "320 to 480px"
   *****************************************
  */
  
  .spacer {
    padding: 0 25px;
  }

  .spacer div{
    height: 50px;
    width: 100%;
  }

    /*
   *****************************************
   * Section Header =latest-news
   * MediaQuery "320 to 480px"
   *****************************************
  */

  .latest-list {
    width: calc(100% + 16px);
    left: -8px;
  }

  .latest-list > li {
    padding: 8px;
    flex-basis: 100%;
    flex-direction: column;
  }

  .latest-story {
    flex-direction: row;
  }

  .story-image {
    width: 72px;
    height: 72px;
  }

  .news-text-container {
    margin: 0 0 0 20px;
  }
}

/*
 ********************************************
*/

@media only screen and (min-width: 480px) {
  body:after {
    content: "480 to 768px";
    background-color: hsla(180,60%,40%,0.7);
  }
}

/*
 ********************************************
*/

@media only screen and (min-width: 768px) {
  body:after {
    content: "768 to 1024px";
    background-color: hsla(270,60%,40%,0.7);
  }

  /*
   *****************************************
   * Section Header =nav
   * MediaQuery "768 to 1024px"
   *****************************************
  */

  #mobile-bar {display: none}
  #top-nav, #bottom-nav {display: block}
  .logo {
    display: flex;
    height: 80px;
  }

  /*
   *****************************************
   * Section Header =cover-page
   * MediaQuery "768 to 1024px"
   *****************************************
  */

  .cover-page {
    height: 60vh;
  }

  .main-article {
    min-height: 0;
    width: 33.33%;
    height: 50%;
  }

  .one {
    width: 66.66%;
    height: 100%;
  }

  article, .cover-trigger { 
    min-height: 100%;
  }

  /*
   *****************************************
   * Section Header =spacer
   * MediaQuery "768 to 1024px"
   *****************************************
  */

  .spacer {
    padding: 0;
  }
  
  .spacer div {
    height: 50px;
    width: 728px;
    /*margin: 30px auto;*/
  }

  /*
   *****************************************
   * Section Header =latest-news
   * MediaQuery "768 to 1024px"
   *****************************************
  */

  .latest-list {
    width: calc(100% + 24px);
    left: -12px;
  }

  .latest-list > li {
    padding: 12px;
    flex-basis: 33.33%;
    flex-direction: row;
  }

  .latest-story {
    flex-direction: column;
  }

  .story-image {
    width: 100%;
    height: 15vw;
  }

  .news-text-container {
    margin: 10px 0 0 0;
  }

}

/*
 ********************************************
*/

@media only screen and (min-width: 1024px) {
  body:after {
    content: "1024 and up";
    background-color: hsla(360,60%,40%,0.7);
  }

  /*
   *****************************************
   * Section Header =nav
   * MediaQuery "1024 and up"
   *****************************************
  */

  #top-nav {display: block}
  .logo {display: none}
  
  /*
   *****************************************
   * Section Header =cover-page
   * MediaQuery "1024 and up"
   *****************************************
  */

   .cover-page {
      height: 75vh;
      max-height: 560px;
  }

  /*
   *****************************************
   * Section Header =spacer
   * MediaQuery "1024 and up"
   *****************************************
  */

  .spacer div {height: 90px;}

  /*
   *****************************************
   * Section Header =spacer
   * MediaQuery "1024 and up"
   *****************************************
  */

  .latest-list > li {
    flex-basis: 25%
  }

  .story-image {
    height: 10.85vw
  }

}

